---
import BaseLayout from '../layouts/BaseLayout.astro'
// import Greeting from '../components/greeting.jsx'
---

<BaseLayout title="brickhu">
  <button class="btn">Hello daisyUI</button>
</BaseLayout>
