---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <div class="flex justify-center">
    <article class="prose">
      <slot/>
    </article>
</div>
</BaseLayout>